@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Bienvenidos</h1>
        <p class="lead">Proyecto #1 - Bases de datos I</p>
    </center>
</div>

<div class="row">
    <center>
        <img src="/Content/images/Naruto.jpg" alt="Trulli" width="500" height="333">
    </center>
</div>